.profileField {
    width: 80%; /* 부모 컨테이너의 너비를 설정, 화면에 따라 조절 가능 */
    max-width: 600px; /* 부모 컨테이너의 최대 너비 설정, 필요에 따라 조절 */
    margin: auto; /* 중앙 정렬 */
    text-align: center;
  }

  .inputWithButton {
    display: flex;
    justify-content: center;
    gap: 10px; /* 버튼과 입력 필드 사이의 간격 */
  
  }
  
  #userEmail {
    width: 320px; /* 입력 필드의 너비 */
    height: 40px; /* 입력 필드의 높이 */
    padding: 5px; /* 입력 필드 안쪽의 여백 */
    border: 1px solid #ccc; /* 테두리 색상과 스타일 */
    border-radius: 30px; /* 입력 필드의 모서리를 둥글게 */
    background-color: #fff; /* 배경색을 하얀색으로 */
    font-size: 16px; /* 글자 크기 */
    text-indent: 15px; /* 텍스트를 왼쪽에서 10px 떨어지게 함 */
    margin: 30px 0px;
  }

  #userPassword {
    width: 320px; /* 입력 필드의 너비 */
    height: 40px; /* 입력 필드의 높이 */
    padding: 5px; /* 입력 필드 안쪽의 여백 */
    border: 1px solid #ccc; /* 테두리 색상과 스타일 */
    border-radius: 30px; /* 입력 필드의 모서리를 둥글게 */
    background-color: #fff; /* 배경색을 하얀색으로 */
    font-size: 16px; /* 글자 크기 */
    text-indent: 15px; /* 텍스트를 왼쪽에서 10px 떨어지게 함 */
    margin: 30px 0px;
  }

  #userId {
    width: 250px; /* 입력 필드의 너비 */
    height: 40px; /* 입력 필드의 높이 */
    padding: 5px; /* 입력 필드 안쪽의 여백 */
    border: 1px solid #ccc; /* 테두리 색상과 스타일 */
    border-radius: 30px; /* 입력 필드의 모서리를 둥글게 */
    background-color: #fff; /* 배경색을 하얀색으로 */
    font-size: 16px; /* 글자 크기 */
    text-indent: 15px; /* 텍스트를 왼쪽에서 10px 떨어지게 함 */
  }
  
  #userEmail {
    color: #aaa; /* 비활성화된 이메일 필드의 글자 색상 */
  }

  #userPassword {
    color: #aaa; /* 비활성화된 이메일 필드의 글자 색상 */
  }
  
  #userId::placeholder, #userEmail::placeholder {
    color: #aaa; /* 플레이스홀더의 글자 색상 */
  }

  #checkDuplicate {
    padding: 5px 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer; /* 버튼 위에 마우스를 올렸을 때 커서 변경 */
    
  }

  .inputemail input {
    width: 100%; /* 부모 컨테이너의 너비에 맞게 조절 */
  }
  
  .gradeField {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .gradeButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열로 구성 */
    gap: 20px; /* 그리드 아이템 사이의 간격 */
    justify-content: center; /* 중앙 정렬 */
  }
  
  .gradeButton {
    width: 90%;
    padding: 15px; /* 버튼 내부 패딩 */
    background-color: #ffffff; /* 버튼 배경색 */
    border: 1px solid #EB9F4A; /* 버튼 테두리 */
    border-radius: 15px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    margin: 0 auto;
  }

  .selected {
    background-color: #EB9F4A; /* 배경색 변경 */
    color: #ffffff; /* 글씨 색상 변경 */
    border-color: #D9822B; /* 테두리 색상 변경 */
  }

  .profile-box {
    padding: 20px; /* 내부 여백 */
    margin: 30px auto; /* 위아래 마진 20px, 좌우 마진 자동으로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: 2px solid #D9822B; /* 테두리 설정 */
    border-radius: 50px; /* 모서리 둥글게 */
    width: 60%; /* 너비 설정, 필요에 따라 조절 */
  }

  /* 모달 배경 */
.modal {
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 배경 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  z-index: 1; /* 다른 요소 위에 표시 */
}

/* 모달 내용 */
.modal-content {
  background-color: #fff; /* 배경색 */
  padding: 20px; /* 패딩 */
  border-radius: 5px; /* 모서리 둥글게 */
  width: 300px; /* 너비 */
  z-index: 2; /* 모달 배경보다 위에 표시 */
}

/* 닫기 버튼 스타일 */
.close {
  float: right; /* 오른쪽 정렬 */
  font-size: 20px; /* 글자 크기 */
  cursor: pointer; /* 클릭 가능한 커서 모양 */
}