.rank-box {
    padding: 20px; /* 내부 여백 */
    margin: 30px auto; /* 위아래 마진 20px, 좌우 마진 자동으로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: 2px solid #D9822B; /* 테두리 설정 */
    border-radius: 50px; /* 모서리 둥글게 */
    width: 60%; /* 너비 설정, 필요에 따라 조절 */
    font-size: large;
    color: #ffffff;
  }

  .rank-box2 {
    padding: 20px; /* 내부 여백 */
    margin: 30px auto; /* 위아래 마진 20px, 좌우 마진 자동으로 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border: 10px solid #FFDD67; /* 테두리 설정 */
    border-radius: 50px; /* 모서리 둥글게 */
    width: 60%; /* 너비 설정, 필요에 따라 조절 */
    font-size: large;
    background-color: #ffffff;
    margin-left: 20px; /* 이미지와 텍스트 사이의 간격 */
  }

  .rank-container {
    display: flex;
    align-items: center; /* 세로 방향으로 중앙 정렬 */
    margin-left: 20px;
    margin-right: 60px;
  }