.image-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개의 열 */
    grid-gap: 10px; /* 그리드 아이템 사이의 간격 */
  }
  
  .image-grid2 img {
    width: 90px; /* 그리드 셀에 맞게 이미지 크기 조절 */
    height: auto; /* 이미지 원본 비율 유지 */
    border-radius: 50%; /* 이미지를 동그랗게 만듦 */
    object-fit: cover; /* 이미지가 그리드 셀을 꽉 채우도록 조절 */
    margin-left: 3px;
  }